




#Dzlcchg{ background: #f0f0f0; margin-top: 22px; }
#Dzlcchg .Nycontanter{width: 720px; height: 520px; overflow: hidden; margin: 0 auto; padding: 0px 0px; background: #fff}

#Dzlcchg .HZcdzcont{padding-top: 126px;  background: url(Img/Neiye/guan.png) no-repeat center 126px; height: 393px;}
#Dzlcchg .HZcdzcont li{ width: 119px; height: 99px; padding-top: 12px; text-align: center; margin-bottom: 17px; float: left; position: relative; top: -93px; left: 17px; margin-right: 23px; margin-left: 0px; background: url(Img/Neiye/lc2.png) no-repeat;}
#Dzlcchg .HZcdzcont li span{ font-size: 13px; color: #fff; display: inline-block; line-height: 18px;}
#Dzlcchg .HZcdzcont li:hover{background: url(Img/Neiye/lc1.png) no-repeat;}

.Wcdzcont li p{ margin-top: 18px; font-size: 15px; color: #fff;}
.Wcdzcont li.Lc1 span{background:url(Img/Neiye/NV1.png) no-repeat;}
.Wcdzcont li.Lc2 span{background:url(Img/Neiye/NV2.png) no-repeat;}
.Wcdzcont li.Lc3 span{background:url(Img/Neiye/NV3.png) no-repeat;}
.Wcdzcont li.Lc4 span{background:url(Img/Neiye/NV4.png) no-repeat;}
.Wcdzcont li.Lc5 span{background:url(Img/Neiye/NV5.png) no-repeat;}
.Wcdzcont li.Lc6 span{background:url(Img/Neiye/NV6.png) no-repeat;}

.Wcdzcont li.Lc1:hover span{background:url(Img/Neiye/NV1_H.png) no-repeat;}
.Wcdzcont li.Lc2:hover span{background:url(Img/Neiye/NV2_H.png) no-repeat;}
.Wcdzcont li.Lc3:hover span{background:url(Img/Neiye/NV3_H.png) no-repeat;}
.Wcdzcont li.Lc4:hover span{background:url(Img/Neiye/NV4_H.png) no-repeat;}
.Wcdzcont li.Lc5:hover span{background:url(Img/Neiye/NV5_H.png) no-repeat;}
.Wcdzcont li.Lc6:hover span{background:url(Img/Neiye/NV6_H.png) no-repeat;}
/*侨洋环形变压器定制流程_END*/
