@charset "utf-8";
html, body, div, p, ul, li, dl, dt, dd, h1, h2, h3, h4, h5, h6, form, input, select, button, textarea, iframe, table, th, td { margin:0; padding:0; color: #333; 
}
img {
	border:0 none;
	vertical-align:top;
}
textarea, input, select {
	padding:2px;
	border:1px solid;
	border-color:#666 #ccc #ccc #666;
	background:#F9F9F9;
	color:#333
}
ul, li {
	list-style-type:none;
}
h1, h2, h3, h4, h5, h6 {
	font-size:14px;
}
body, input, select, button, textarea {
	font-size:12px;
	font-family:微软雅黑,Tahoma, Geneva, sans-serif;
}
button {
	cursor:pointer;
}
i, em, cite {
	font-style:normal;
}
body {
	color:#363636;
	line-height:1.2;
	background:#EDF0F4 url(../images/header_background.png) repeat-x;
	font-family:微软雅黑, 宋体, Arial, Helvetica, sans-serif;
}
.wrap {
	width:99%;
	margin:6px auto;
}
.clear {
	clear:both;
}
ul.tabs {
	list-style:none;
	width:99%;
}
ul.tabs li:first-child {
	border-left:1px solid #ccc;
}
ul.tabs li {
	float:left;
	border-right:1px solid #ccc;
	border-top:1px solid #ccc;
	background-color:#eee;
}
ul.tabs li.active {
	border-bottom:1px solid #fff;
	background-color:#fff;
	margin-bottom:-1px;
}
ul.tabs li a {
	display:block;
	padding:5px 10px;
	color:#777;
	letter-spacing:-1px;
	outline:none;
	text-decoration:none;
	font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
ul.tabs li.active a {
	font-weight:600;
	color:#000;
}
div.tabs_content {
	width:99%;
}
div.tabs_content > div {
	padding-right:1px;
}
/*图片缩略*/
#pw {
}
#pw .imgDiv {
	float:left;
	width:130px;
	height:110px;
	padding-top:5px;
	background:#eee;
	text-align:center
}
#pw img {
	border:0px;
	width:120px;
	height:90px
}
a, a:link {
	color:#666666;
	text-decoration:none;
}
a:visited {
}
a:active, a:hover {
	text-decoration: underline;
}
a:focus {
	outline:none;
}
.fixed:after {
	content:".";
	display:block;
	clear:both;
	height:0;
	visibility:hidden;
}
.fixed {
	display: block;
	min-height:1%;
}
*html.fixed {
	height:1%;
}
.clear {
	diplay:block!important;
	float:none!important;
	clear:both;
	overflow:hidden;
	width:auto!important;
	height:0!important;
	margin:0 auto!important;
	padding:0!important;
	font-size:0;
	line-height:0;
}
.h6 {
	height:6px;
	clear:both;
	background-color:#EDF0F4;
	line-height:6px;
	font-size:1px;
}
.h7 {
	height:7px;
	clear:both;
	line-height:7px;
	font-size:1px;
}
.h12 {
	height:12px;
	clear:both;
	background-color:#EDF0F4;
}
.h16 {
	height:16px;
	clear:both;
	background-color:#EDF0F4;
}
.FailedMsg {
	BORDER-RIGHT: #ff6600 1px solid;
	PADDING-RIGHT: 5px;
	BORDER-TOP: #ff6600 1px solid;
	PADDING-LEFT: 25px;
	BACKGROUND: url(../images/standard_msg_error.gif) #fff2e9 no-repeat 5px 50%;
	PADDING-BOTTOM: 2px;
	MARGIN: 0px 0px 0px 4px;
	BORDER-LEFT: #ff6600 1px solid;
	COLOR: #000;
	PADDING-TOP: 4px;
	BORDER-BOTTOM: #ff6600 1px solid;
	HEIGHT: 10px
}
#main {
	padding:0px 12px;
	min-width:960px;
 _width:expression((document.documentElement.clientWidth||document.body.clientWidth)<960?"960px":"");
	height:auto;
}
#header {
	height:70px;
	margin-bottom:12px;
}
#header #header_content {
	height:45px;
}
#header #header_content #userinfo {
	float:right;
	line-height:25px;
	padding-right:2px;
}
.button {
	TEXT-ALIGN: center;
	PADDING-BOTTOM: 0px;
	LINE-HEIGHT: 20px;
	MARGIN: auto 2px 12px;
	PADDING-LEFT: 0px;
	WIDTH: 90px;
	PADDING-RIGHT:10px;
	DISPLAY: block;
	BACKGROUND:url(../images/button.gif) no-repeat;
	FLOAT: left;
	HEIGHT: 20px;
	COLOR: #000;
	OVERFLOW:hidden;
	PADDING-TOP: 0px
}
.button:hover {
	BACKGROUND:url(../images/buttonhover.gif) no-repeat;
	COLOR: #333
}
#header #nav {
	height:25px;
	background:#FF6D06 url(../images/ico.png) no-repeat -6px -1px;
	line-height:25px;
	color:#FFFFFF;
}
#header #nav_right {
	height:25px;
	background:url(../images/ico.png) no-repeat 0px -1px;
	width:6px;
	float:right;
}
#content {
	height:auto;
	width:100%;
}
#content #left_nav {
	width:20%;
	float:left;
	background-color:#FFFFFF;
}
.top_nav, .top_nav span, .bottom_nav, .bottom_nav span {
	height:6px;
	font-size:1px;
}
.top_nav {
	background:url(../images/left.png);
}
.top_nav span {
	background:url(../images/ico.png) 6px -27px;
	width:6px;
	float:right;
}
.bottom_nav {
	background:url(../images/left.png) 0px -6px;
}
.bottom_nav span {
	background:url(../images/ico.png) 6px -33px;
	width:6px;
	float:right;
}
.top_nav2, .top_nav2 span, .bottom_nav2, .bottom_nav2 span {
	height:3px;
	font-size:1px;
}
.top_nav2 {
	background:url(../images/left.png) 0px -12px;
}
.top_nav2 span {
	background:url(../images/ico.png) 6px -39px;
	width:6px;
	float:right;
}
.bottom_nav2 {
	background:url(../images/left.png) 0px -15px;
}
.bottom_nav2 span {
	background:url(../images/ico.png) 6px -42px;
	width:6px;
	float:right;
}
.nav_content {
	border-left:solid 1px #C4C4C4;
	border-right:solid 1px #C4C4C4;
	line-height:25px;
}
.nav_content .nav_tools {
	background:url(../images/nav_tools.gif) no-repeat #E4E4E4;
	border-radius:4px;
	border:1px #bfbfbf solid;
	height:28px;
	margin:0px 10px;
	overflow:hidden;
}
.nav_content .nav_tools a {
	font-size:12px;
	font-weight:bold;
	line-height:28px;
}
.nav_content .nav_tools .add {
	background:url(../images/add.gif) no-repeat center left;
	text-indent:20px;
	float:left;
	margin-left:12px;
	height:27px;
	padding-top:1px;
}
.nav_content .nav_tools .search {
	float:right;
	margin-left:12px;
	height:26px;
	padding-top:2px;
	line-height:26px;
}
.nav_content .nav_tools .delete {
	background:url(../images/delete.gif) no-repeat center left;
	text-indent:20px;
	float:left;
	margin-left:12px;
	height:27px;
	padding-top:1px;
}
.nav_content .nav_tools .edit {
	background:url(../images/edit.gif) no-repeat center left;
	text-indent:20px;
	float:left;
	margin-left:12px;
	height:27px;
	padding-top:1px;
}

.nav_content .nav_tools .sc {
	background:url(../images/xls.gif) no-repeat center left;
	text-indent:20px;
	float:left;
	margin-left:12px;
	height:27px;
	padding-top:1px;
}

.nav_content .nav_tools .save {
	background:url(../images/save.gif) no-repeat center left;
	text-indent:20px;
	float:left;
	margin-left:12px;
	height:27px;
	padding-top:1px;
}

.nav_content .nav_tools .back {
	background:url(../images/back.gif) no-repeat center left;
	text-indent:20px;
	float:left;
	margin-left:12px;
	height:27px;
	padding-top:1px;
}
.nav_content .nav_tools .next {
	background:url(../images/ico_11.gif) no-repeat center left;
	text-indent:20px;
	float:left;
	margin-left:12px;
	height:27px;
	padding-top:1px;
}
.nav_content .nav_tools .renovate {
	background:url(../images/renovate.gif) no-repeat center left;
	text-indent:20px;
	float:left;
	margin-left:12px;
	height:27px;
	padding-top:1px;
}
.nav_content .nav_tools .xls {
	background:url(../images/xls.gif) no-repeat center left;
	text-indent:20px;
	float:left;
	margin-left:12px;
	height:27px;
	padding-top:1px;
}
.nav_content .nav_tools .nav_tools_right {
	background:#E4E4E4 url(../images/nav_tools_right.gif);
	line-height:28px;
	float:right;
	height:28px;
	width:6px;
}
.nav_content .leftbottom {
	background-position:bottom left;
}
.nav_content .nav_tools .rightbottom {
	background-position:bottom right;
}
.nav_content .table {
	margin:6px 10px;
}
.nav_content2 {
	border-left:solid 1px #C4C4C4;
	border-right:solid 1px #C4C4C4;
	line-height:25px;
	background-color:#eeeeee;
}
.nav_content h1 {
	font-size:12px;
	font-weight:normal;
	padding-left:12px;
}
.nav_content2 h1 {
	font-size:12px;
	text-indent:6px;
}
.nav_content2 ul {
	margin:0px 6px;
}
.nav_content2 ul li {
	line-height:22px;
	text-indent:22px;
	background:url(../images/ico_09.gif) no-repeat 5px 0px;
	border-bottom:none;
}
.nav_content2 ul li a {
	color:#363636;
}
.nav_content2 ul .fileupload {
	background:url(../images/ico_10.gif) no-repeat 3px 3px;
	border-bottom:none;
}
.nav_content2 ul .rarbackup {
	background:url(../images/ico_11.gif) no-repeat 3px 1px;
	border-bottom:none;
}
.nav_content2 ul .help {
	background:url(../images/ico_03.gif) no-repeat -1px -4px;
	border-bottom:none;
}
.nav_ul {
	margin:0px 10px;
}
.nav_ul li {
	padding:2px 0px;
}
.nav_ul li .r1 {
	BORDER-BOTTOM-STYLE: none;
	PADDING-BOTTOM: 0px;
	BORDER-RIGHT-STYLE: none;
	PADDING-LEFT: 1px;
	PADDING-RIGHT: 1px;
	BORDER-TOP-STYLE: none;
	BORDER-LEFT-STYLE: none;
	PADDING-TOP: 0px;
}
.nav_ul li .r2 {
	BORDER-LEFT: transparent 0px solid;
	BORDER-TOP: transparent 1px solid;
	BORDER-RIGHT: transparent 0px solid;
	border-color:#ffffff;
	BORDER-BOTTOM: #CCCCCC 1px solid;
	BACKGROUND: #ffffff;
}
.nav_ul li .r3 {
	BORDER-BOTTOM: transparent 0px solid;
	BORDER-LEFT: transparent 1px solid;
	MARGIN: 0px -1px;
	BORDER-TOP: transparent 0px solid;
	BORDER-RIGHT: transparent 1px solid;
	border-color:#ffffff;
}
.nav_ul li .content {
	font-weight:bold;
	padding-left:25px;
	background:url(../images/ico_02.gif) no-repeat;
	line-height:25px;
}
.nav_ul li ul {
	padding-left:8px;
}
.nav_ul li ul li {
	line-height:18px;
}
.nav_ul li ul li .content {
	font-weight:normal;
	padding-left:6px;
	background:none;
	line-height:18px;
}
.nav_ul li a.current {
	color:#ffffff;
}
.nav_ul li a.current .r2 {
	BORDER-BOTTOM: transparent 1px solid;
	BORDER-LEFT: transparent 0px solid;
	BORDER-TOP: transparent 1px solid;
	BORDER-RIGHT: transparent 0px solid;
	border-color:#696969;
	BACKGROUND: #696969;
}
.nav_ul li a.current .r3 {
	BORDER-BOTTOM: transparent 0px solid;
	BORDER-LEFT: transparent 1px solid;
	MARGIN: 0px -1px;
	BORDER-TOP: transparent 0px solid;
	BORDER-RIGHT: transparent 1px solid;
	border-color:#696969;
}
.nav_ul li a.current .content {
	padding-left:25px;
	background:url(../images/ico_01.gif) no-repeat;
	line-height:25px;
}
.nav_ul li ul li a.current .content {
	font-weight:normal;
	padding-left:6px;
	background:none;
	line-height:18px;
}
#content #right_content {
	width:80%;
	float:right;
	display:inline;
}
#content #right_content #main_content {
	margin-left:12px;
	background-color:#FFFFFF;
}
#footer {
	border-top:solid #FF6D06 1px;
	height:60px;
	margin-top:12px;
	padding-top:12px;
	width:100%;
	clear:both;
	color:#FF6D06;
}
.move:hover {
	background:#FF6D06;
}
.move:hover a {
	color:#FFFFFF
}
.but {
	border-radius:4px;
	padding:2px 5px;
	border:1px solid #CCC;
	margin-top:2px;
	font-size:12px;
	font-weight:bold;
	letter-spacing:2px;
	background:none;
	 cursor:pointer;
}
.but:hover {
	border:1px solid #09c;
	background:#09c;
	color:#fff;
	}
/* pages */
.pages {
	clear:both;
	margin:10px 0
}
.pages em, .pages a, .pages strong {
	border-radius:4px;
	text-decoration:none;
	margin-left:3px;
	padding:2px 5px;
	border:1px solid #cccccc
}
.pages a:hover {
	text-decoration:none;
	border:1px solid #09C;
	background:#09C;
	color:#FFF
}
.pages strong {
	border:none;
	font-weight:700
}
.cuspages {
	margin:3px 0;
	line-height:200%
}
.cuspages .pages {
	display:inline;
	clear:none;
	margin-right:10px
}

.updataHtml{ width:50px; background:red; position:fixed; right:20px; bottom:30%;}
.updataHtml a{ display:block; color:#FFF; text-decoration:none; padding:5px;}